
body {
    background-image: url(starrynight2.gif);
    background-size: 1920px 1000px;
    background-repeat: no-repeat;
    font-family:"VT323", monospace;
} 

button{
    background-color:black;
    color:white;
    padding: 0px;
    font-size:20px;
    border-radius: 12px;
    HEIGHT:40px;
    width:90px;
    font-family: "VT323", monospace;
    margin-bottom: 0px;
}
button:hover {
    background: transparent;
    border-color: black;
    color: black;
    border-radius:12px;
}
.header{
    font-family: "VT323", monospace;
    font-size: xx-large;
    color:black;
    text-align: center;
    
}
.chat-box {
    overflow:scroll;
    display:flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: max-content;
    width: 90%;
    background-color: rgb(68, 80, 105 ,0.9); 
    border-radius: 20px;
    padding: 10px;
    
    
}

.chat-box .incoming-chat{
    display:flex;
}
.chat-box .incoming-chat {
    padding:10px 0 0 10px;
    margin: 6px 6px 190px 0;
    background-color:  #5B9A8B;
    border-radius: 10px;
    width: 200px;
    
}

.chat-box .user-input
{
    justify-content: flex-end;
   padding: 10px 4px 4px 10px;
   border: none;
   border-radius: 10px;
   margin-top: 100px;
   outline: none;
   background-color: #F7E987;
   margin-left: 10px;
   width: 80%;
   max-width: fit-content;
   
}

textarea {
    background-color: #F7E987;
    border-radius: 8px;
    padding: 10px;

}

.box {
    display: flex;
    flex-direction: column;
    padding:10px 0 0 10px;
    margin: 6px 6px 190px 0;
    background-color:  #5B9A8B;
    border-radius: 10px;
    width: 200px;            
}

a{
    font-family: "VT323", monospace;
    font-size: x-large;
    text-decoration: none;
    color:whitesmoke;
    background-image: linear-gradient(whitesmoke, #d99a5a);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

